@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------------------
    Common Styles  & Utilities
         --------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    color:#3A3A3A;
}

.container{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 70px;
}



/* ---------------------
   Header section
   --------------------- */
