@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




/* ---------------------------
    Common Styles  & Utilities
         --------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    color:#3A3A3A;
}
.body-section{
    margin-left: 10%;
}

.container{
    width: 90%;;
    margin-top: 70px;
}

.button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
}

/* ---------------------
   Header section
   --------------------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Page-name{
    font-size: 24px;
}

nav a{
    text-decoration: none;
    color:#3A3A3A;
    margin-right: 24px;
    font-size: 16px;
}

/* ---------------------
        Top section
   --------------------- */

.top-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.top-section h1{
    font-size: 52px;
    font-weight: 700;
}
.top-section p{
    font-size: 16px;
    font-weight: 600;
    width: 65%;
}

#top-section-image{
    background-image: url(images/Circle\ design.svg);
    background-size: 422px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------------
        Catalogue
   --------------------- */

.catalogue{
    align-items: center;
}
.catalogue h2{
    font-size: 28px;
    font-weight: 600;
    margin-left: 37%;
}

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.item{
    Width: 329px;
    Height:476px;
    box-shadow: 10px 10px 30px gray;
    border-radius:5px;
}

.item article{
    padding:15px;
}

.item article>h3{
    margin: 0px;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}

.item img{
    width: 300px;
    height: 256px;
}

.price{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #18191F;
}

.star{
    color: #FB8200;
    size: 16px;
}
.item-description{
    margin-top: 5px;
    size: 14px;
    font-weight: 700;
    color: #787885;
}

#next-page{
    margin-left:87%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #E02C6D;
}

/* <!-- --------------------
            Traveling Agent
         ------------------------- --> */

    .travel{
        display:flex;
        justify-content: space-between;
    }

    .travel h1{
        font-size: 34px;
        font-weight: 700;
    }

    .travel span{
        color: #E02C6D;
    }

    .travel-image{
        border-radius: 5px;
        height: 220px;
        width: 320px;
        box-shadow: 10px 10px 30px gray;
        padding: 10px;
    }

    .travel div{
        margin: 20px;
    }

/* ---------------------
        Footer
   --------------------- */
footer{
    margin-top: 10px;
    background-color:#0A0826;
    color: white;
    text-align: center;
}
.footer-div{
    padding: 10px;
}

.footer-div h1{
    font-size: 24px;
}

.footer-div p{
    font-size: 14px;
}
.ref-link{
    color: white;
    margin: 10px;
    padding-bottom: 10px;
}


/* ---------------------
        Media Queries
   --------------------- */

   /* Mobile Devices */
   @media screen and (max-width:807px) {
    .body-section{
        margin-left:18%;
        width: 75%;
    }
    .nav-extra{
        display: none;
    }
    #cart{
        padding-left: 100%;
    }
    .top-section{
        flex-direction: column;
    }
    #top-section-image{
        margin-top: 30px;
    }
    .catalogue h2{
        margin-left: 12%;
    }
    #next-page{
        margin-left: 40%;
    }
    .items{
        grid-template-columns: repeat(1,1fr);
    }
    .travel{
        flex-direction: column;
    }
   }

    /* Tablet Devices */
    @media (max-width:1230px) and (min-width:807px) {
        .top-section{
            flex-direction: column;
        }
        .items{
            grid-template-columns: repeat(2,1fr);
        }
        #next-page{
            margin-left: 40%;
        }
        .travel{
            flex-direction: column;
        }
    }


    /* ---------------------
        Animation
   --------------------- */
   nav a:hover{
       color: #E02C6D;
   }

   .item:hover{
       transform: scale(1.05);
   }